.footerSection {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxl);
    width: 100%;
}

.title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-xxl);
}

.emailRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.emailInput {
    flex: 1;
    margin-right: var(--spacing-sm);
    padding: var(--spacing-xs) var(--spacing-md);
    font-size: var(--font-base);
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 6px;
}

.sendButton {
    padding: 0px var(--spacing-20);
    font-size: var(--font-base);
    color: var(--color-yellow);
    border-radius: var(--spacing-xs);
    font-weight: 500;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.bottomBorder {
    margin-top: -16px;
    border-bottom: 1px solid var(--color-gray-medium);
    width: 100%;
}

.imageWrapper {
    display: flex;
    justify-content: flex-start;
}

.links {
    display: flex;
    gap: var(--spacing-sm);
}

.linkColumn {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.link {
    text-decoration: none;
    color: var(--color-white);
    font-size: var(--font-base);
}

.copyright {
    font-size: var(--font-sm);
    color: var(--color-gray-light);
}


@media (max-width: 768px) {

    .footerSection {
        padding-bottom: var(--spacing-xl);
    }

    .title {
        font-size: var(--font-md);
    }

    .emailInput {
        font-size: var(--font-sm);
        padding: var(--spacing-xs) var(--spacing-sm);
    }

    .emailRow {
        align-items: stretch;
        gap: var(--spacing-sm);
    }

    .sendButton {
        width: 100%;
    }

    .links {
        gap: var(--spacing-20);
    }

    .linkColumn {
        gap: var(--spacing-xs);
    }
}