.content {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    background: var(--color-bg-dark);
    border-radius: var(--radius-md);
    margin-top: var(--spacing-xs);
    padding: var(--spacing-md);
    flex-direction: column;
    gap: var(--spacing-xs);
    display: flex;
    width: 256px;
    border: none;
    z-index: 999;
}