.content {
    margin-top: 8px;
    width: 256px;
    padding: 16px;
    background: black;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    border: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 999;
}