.trends {
    padding-bottom: var(--spacing-xl);
    padding-inline: var(--spacing-md);
    flex-direction: column;
    gap: var(--spacing-xl);
    display: flex;
}

.header {
    padding-block: var(--spacing-xxxl);
    gap: var(--spacing-sm);
    align-items: center;
    display: flex;
}

.title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-xxl);
    color: var(--color-white);
    line-height: 104%;
}

.cards {
    grid-template-columns: 1fr;
    gap: var(--spacing-xl);
    display: grid;
}

.allButtonWrapper {
    margin-top: var(--spacing-xxl);
    justify-content: center;
    display: flex;
}

.allButton {
    transition: transform 0.2s ease;
    object-fit: contain;
    cursor: pointer;
}

.allButton:hover {
    transform: scale(1.05);
}

@media (min-width: 768px) and (max-width: 1439px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .header {
        justify-content: flex-start;
    }
}

@media (min-width: 1440px) {
    .trends {
        padding-inline: 6rem;
    }

    .cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .header {
        justify-content: flex-start;
    }
}

@media (max-width: 767px) {
    .header {
        justify-content: center;
        text-align: center;
    }
}