.card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--spacing-md);
    width: 100%;
    min-width: 360px;
}

.index {
    font-weight: 700;
    font-size: var(--font-xxxl);
    line-height: 89%;
    color: var(--color-bg-dark);
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    flex: 1;
}

.author {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
}

.authorName {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-sm);
    color: var(--color-white);
}

.title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-20);
    color: var(--color-white);
}

.line {
    width: 100%;
    height: 1px;
    background: var(--color-gray-light);
}

.readMore {
    font-weight: var(--font-weight-normal);
    font-size: var(--font-sm);
    color: var(--color-white);
}