.card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
    min-width: 360px;
}

.index {
    font-weight: 700;
    font-size: 60px;
    line-height: 89%;
    color: rgba(42, 42, 42, 1);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.author {
    display: flex;
    align-items: center;
    gap: 8px;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
}

.authorName {
    font-family: "Saira", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

.title {
    font-family: "Saira", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.line {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
}

.readMore {
    font-family: "Saira", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}