.blogDetailCard {
    color: var(--color-white);
    gap: var(--spacing-20);
    max-width: 1000px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.breadcrumb {
    font-size: var(--font-base);
    color: var(--color-gray-light);
}

.viewCount {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    font-size: var(--font-base);
    font-weight: 500;
    color: var(--color-gray-light);
}

.title {
    font-size: var(--font-xxxl);
    font-weight: var(--font-weight-bold);
    line-height: 1.2;
}

.content {
    font-size: var(--font-base);
    font-weight: var(--font-weight-semibold);
    line-height: 1.5;
}

.imageWrapper {
    position: relative;
    object-fit: contain;
    width: 730px;
}

.image {
    object-fit: contain;
    border-radius: var(--radius-md);
}

.playIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.categories {
    display: flex;
    gap: var(--spacing-sm);
    margin-top: var(--spacing-sm);
}

.category {
    padding: var(--spacing-sm);
    font-size: var(--font-sm);
    font-weight: var(--font-weight-normal);
    color: var(--color-white);
    background-color: var(--color-gray-medium);
}

.interactions {
    display: flex;
    gap: var(--spacing-20);
    margin-top: var(--spacing-20);
}

.interactionItem {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    font-size: var(--font-base);
    color: var(--color-gray-light);
}

@media (max-width: 768px) {
    .blogDetailCard {
        max-width: 100%;
        gap: var(--spacing-md);
    }

    .breadcrumb {
        font-size: var(--font-xs);
    }

    .title {
        font-size: var(--font-xxl);
    }

    .content {
        font-size: var(--font-xs);
    }

    .imageWrapper {
        width: 360px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .categories {
        flex-wrap: wrap;
        gap: var(--spacing-xs);
    }

    .category {
        padding: var(--spacing-xs);
        font-size: var(--font-sm);
    }

    .interactions {
        flex-wrap: wrap;
        gap: var(--spacing-md);
    }

    .interactionItem {
        font-size: var(--font-sm);
    }
}