.blogDetailCard {
    justify-content: flex-start;
    color: var(--color-white);
    align-items: flex-start;
    gap: var(--spacing-20);
    flex-direction: column;
    max-width: 1000px;
    display: flex;
}

.breadcrumb {
    color: var(--color-gray-light);
    font-size: var(--font-base);
}

.viewCount {
    font-weight: var(--font-weight-normal);
    color: var(--color-gray-light);
    font-size: var(--font-base);
    gap: var(--spacing-xs);
    align-items: center;
    display: flex;
}

.title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-xxxl);
    line-height: 1.2;
}

.content {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-base);
    line-height: 1.5;
}

.imageWrapper {
    object-fit: contain;
    position: relative;
    width: 730px;
}

.image {
    border-radius: var(--radius-md);
    object-fit: contain;
}

.playIcon {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

.categories {
    margin-top: var(--spacing-sm);
    gap: var(--spacing-sm);
    display: flex;
}

.category {
    background-color: var(--color-gray-medium);
    font-weight: var(--font-weight-normal);
    padding: var(--spacing-sm);
    font-size: var(--font-sm);
    color: var(--color-white);
}

.interactions {
    margin-top: var(--spacing-20);
    gap: var(--spacing-20);
    display: flex;
}

.interactionItem {
    color: var(--color-gray-light);
    font-size: var(--font-base);
    gap: var(--spacing-xs);
    align-items: center;
    display: flex;
}

@media (max-width: 768px) {
    .blogDetailCard {
        gap: var(--spacing-md);
        max-width: 100%;
    }

    .breadcrumb {
        font-size: var(--font-xs);
    }

    .title {
        font-size: var(--font-xxl);
    }

    .content {
        font-size: var(--font-xs);
    }
}

.categories {
    gap: var(--spacing-xs);
    flex-wrap: wrap;
}

.category {
    padding: var(--spacing-xs);
    font-size: var(--font-sm);
}

.interactions {
    gap: var(--spacing-md);
    flex-wrap: wrap;
}

.interactionItem {
    font-size: var(--font-sm);
}