.exploreSection {
    display: flex;
    gap: var(--spacing-xxl);
    padding-inline: var(--spacing-xxxl);
    margin-top: var(--spacing-xxl);
}

.leftColumn {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
}

.rightColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxl);
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--spacing-sm);
    font-size: var(--font-xxl);
    font-weight: var(--font-weight-bold);
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

.headerRight {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

.blogList {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
}

.mobileOnly {
    display: none;
}

.desktopOnly {
    display: block;
}

@media (max-width: 768px) {
    .exploreSection {
        flex-direction: column;
        padding-inline: var(--spacing-md);
    }

    .rightColumn {
        display: none;
    }

    .mobileOnly {
        display: block;
    }

    .desktopOnly {
        display: none;
    }

    .blogList {
        gap: var(--spacing-md);
    }
}

.blogList {
    display: flex;
    gap: var(--spacing-20);
}

.listView {
    flex-direction: column;
}

.gridView {
    flex-wrap: wrap;
    flex-direction: row;
}

.gridView>* {
    flex: 1 1 calc(50% - 20px);
    min-width: 250px;
}

.icon {
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.2s;
}

.icon:hover {
    opacity: 1;
}

.active {
    opacity: 1;
    filter: drop-shadow(0 0 4px yellow);
}