.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    font-family: "Saira", sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 40px;
}

.title {
    font-family: "Saira", sans-serif;
    font-weight: 700;
    font-size: 60px;
    margin: 0;
}

.icon {
    display: block;
    cursor: pointer;
}

.headerRight {
    display: flex;
    align-items: center;
    gap: 12px;
}

.icon:hover {
    opacity: 1;
}

.active {
    opacity: 1;
    filter: drop-shadow(0 0 4px yellow);
}