.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 var(---spacing-sm);
    font-size: var(--font-xxl);
    font-weight: var(--font-weight-bold);
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    font-size: var(--font-xxl);
}

.title {
    font-family: "Saira", sans-serif;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-xxxl);
    margin: 0;
}

.icon {
    display: block;
    cursor: pointer;
}

.headerRight {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

.icon:hover {
    opacity: 1;
}

.active {
    opacity: 1;
    filter: drop-shadow(0 0 4px var(--color-yellow));
}